@font-face {
  font-family: 'PT Sans';
  src:
      url("../fonts/ptsans-400.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src:
      url("../fonts/ptsans-700.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Common */
.page {
  font-family: 'PT sans', sans-serif;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  /* background-color: #888888; */
}

body {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #F2F2F2;
  width: 1280px;
  margin: auto;
}

.visually-hidden {
  display: none;
}

.main-header, .main-index, .main-footer, .main-catalog {
  background-color: #FFFFFF;
  width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

/* index.html Разделы сверху вниз */
.main-header {
  line-height: 1.26;
  font-weight: 700;
  color: #000000;
}

.welcome {
  background-image: url(../img/background/background_photo.jpg);
  background-color: #83B3D3;
  background-size: cover;
  width: 1200px;
  height: 725px;
}

.welcome-title {
  font-size: 21px;
  line-height: 1.26;
  font-weight: 700;
  color: #000000;
}

.welcome-about {
  line-height: 1.26;
  color: #333333;
}

.advantages-title {
  font-size: 21px;
  line-height: 1.21;
  font-weight: 700;
}

/* .advantages-number, .advantages-description {
  font-size: 14px;
  line-height: 1.21;
} */

.advantages-chapter:not(.advantages-chapter-no-image) {
  display: flex;
  background-color: #81B3D2;
  color: #FFFFFF;
}

.service {
  display: flex;
  text-align: center;
  background-color: #FFFFFF;
}

.service-title {
  font-size: 21px;
  line-height: 1.21;
  font-weight: 700;
}

.service-description {
  color: #333333;
}

.advantages-chapter-no-image {
  background-color: #EEEEEE;
}

.service-chapter-home::before {
  content: '';
  width: 75px;
  height: 72px;
  display: inline-block;
  background-image: url(../img/icon/home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.service-chapter-food::before {
  content: '';
  width: 75px;
  height: 70px;
  display: inline-block;
  background-image: url(../img/icon/food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.service-chapter-souvenir::before {
  content: '';
  width: 64px;
  height: 77px;
  display: inline-block;
  background-image: url(../img/icon/souvenir.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  background-color: #FFFFFF;
}

/* catalog.html Разделы сверху вниз */
.filter-insert {
  background-image: url(../img/background/background_filter.png);
  background-color: #ABABAB;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-footer {
  background-color: #FFFFFF;
}